body {
  margin: 0;
  padding: 0;
}

.side_nav {
  border: 1px solid rgb(200, 199, 199);
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;

  background: var(--menu-bg);
  border-inline-end: 1px solid var(--menu-border-color);
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 103;
  transition: all .05s ease;
}

.logo {
  text-align: center;
  height: 71px;
  border: 1px solid rgb(232, 229, 229);
}

.side_nav .image {
  width: 100px;
  height: 30px;
  margin-top: 1rem;
}

.items {
  align-items: center;

  max-height: 740px;
  overflow: auto;
  flex-wrap: nowrap;
  padding-top: 10px;

}

.side_nav a {
  color: rgb(63, 61, 61);
  display: block;
  width: 100%;
  line-height: 55px;
  letter-spacing: 2px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.side_nav a:hover {
  color: blueviolet;
}

.dash {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: 0.5s;
  transition-property: background;

}

.dash:hover {
  background: #f3f2f5;
  border-radius: 15px;

  .icon {
    color: blueviolet;
  }
}

.icon2 {
  color: rgb(80, 76, 76);
  font-size: 20px;
  padding-left: 2rem;
  margin-right: 1rem;
}

::-webkit-scrollbar {
  width: 7px;
}



::-webkit-scrollbar-thumb {
  background: #e4e3e3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c3c1c1;
}



.page {
  width: 100%;
  z-index: 1;
  position: fixed;
  inset-block-start: 0;
  background: var(--header-bg);
  transition: all .1s ease;
  padding-inline-start: 300px;
  border: 1px solid rgb(238, 234, 234);
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 25px;
  background: #fff;
}

.header-content-left {
  display: flex;
}

.horizontal-logo {
  img {
    height: 35px;
    width: auto;
  }
}

.second-content {
  display: flex;
  gap: 2rem;
}

.side-icon {
  display: flex;
  font-size: 25px;
  color: #bab7b7;
  align-content: center;
  flex-wrap: wrap;
}


.search-container {
  position: relative;
  color: #ddd9d9;

}

.search {
  height: 40px;
  border: 0px solid gray;
  background-color: #fafafa;
  border-radius: 10px;

  width: 100%;
  padding: 10px 40px 10px 10px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ddd9d9;
  cursor: pointer;
}

.search-button {
  border: 0px;
}

.dropdown-list {
  width: 100%;
  height: 40px;
  align-content: center;
  color: #ddd9d9;


  background-color: #fafafa;
  border-radius: 10px;
}

h6.dropdown-header {
  color: #9d10df;
  font-size: 15px;
}



.header-content-right {
  display: flex;
}

.country-dropdown {
  height: 40px;
  width: 60px;
  align-content: center;
  background-color: white;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
  }
}

.country-items {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;

  img {
    height: 20px;
    width: 20px;
    border-radius: 50px;
  }
}

.dark-img {
  height: 40px;
  width: 60px;
  color: #888;
  font-size: 1.7rem;
  text-align: center;
}


.cart-dropdown {
  height: 20px;
  width: 60px;
  align-content: center;
  background-color: white;
  gap: 1rem;

  img {
    height: 30px;
    width: 40px;
    border-radius: 10px;
  }
}

.cart-items {
  height: 60px;
  width: 22rem;
  display: flex;
  align-items: center;
  /* gap: 15px; */
  font-size: 15px;

  img {
    height: 2.625rem;
    width: 2.625rem;
    border-radius: 10px;
  }

  .text1 {
    line-height: 20px;
  }

  .line1 {
    display: flex;
    gap: 1.5rem;
  }

  .price {
    font-weight: 600;
  }

  .close_btn {
    margin: 0;
    padding: 0;
  }

  span.badge.bg-light.text-default.border {
    color: black;
    font-weight: 400;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: baseline;
    gap: 10px;
  }

  li {
    color: gray;
  }

}

.notification-img {
  height: 40px;
  width: 60px;
  color: #888;
  font-size: 1.3rem;
  text-align: center;
  align-content: center;
}

.fullscreen-img {
  height: 40px;
  width: 60px;
  color: #888;
  font-size: 1.3rem;
  text-align: center;
  align-content: center;
}

.man-img {
  height: 40px;
  width: 110px;
  padding: 0 2px;
  color: #888;
  align-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
  }
}

.setting-img {
  height: 40px;
  width: 60px;
  color: #888;
  font-size: 1.3rem;
  text-align: center;
  align-content: center;
}




.main-content {
  padding: 1rem;
  background-color: #eceff2;
}

.app-content {
  margin-block-start: 4.4rem;
  margin-inline-start: 18.8rem;
  transition: all .05s ease;

  min-height: calc(100vh - 7.5rem);
  margin-block-end: 0;
  transition: all .05s ease;
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.tables {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}


.breadcrumb .breadcrumb-item a {
  color: rgb(115 23 182);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
}

.breadcrumb .breadcrumb-item.active {
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn.btn-primary-light {
  background-color: #b94eed1a;
  color: #b94eed;
}

.btn.btn-primary-light:hover,
.btn.btn-primary-light:focus,
.btn.btn-primary-light:active {
  background-color: #b94eed;
  color: #fff;
  border-color: #b94eed;
}

.btn-list button,
.btn-list div,
.btn-list a,
.btn-list input {
  margin: 0 .375rem .375rem 0;
}

.btn {
  font-size: .85rem;
  border-radius: .5rem;
  padding: .5rem .85rem;
  box-shadow: none;
  font-weight: 300;
}

.me-2 {
  margin-inline-end: .5rem !important;
}

.btn.btn-secondary-light {
  background-color: #45d65b1a;
  color: #45d65b;
}

.btn.btn-secondary-light:hover,
.btn.btn-secondary-light:focus,
.btn.btn-secondary-light:active {
  background-color: #45d65b;
  color: #fff;
  border-color: #45d65b;
}



.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  margin-inline-end: calc(-.5* var(--bs-gutter-x));
  margin-inline-start: calc(-.5* var(--bs-gutter-x));
}

@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-inline-end: calc(var(--bs-gutter-x)* .5);
  padding-inline-start: calc(var(--bs-gutter-x)* .5);
  margin-block-start: var(--bs-gutter-y);
}



.card.custom-card {
  border-radius: .85rem;
  background-color: white;
  box-shadow: 0 .125rem .25rem #0000000d;
  position: relative;
  margin-block-end: 1.5rem;
  width: 100%;
  border: 0px;
}

.card.custom-card .card-header:first-child {
  border-radius: .625rem .625rem 0 0;
}

.card.custom-card .card-header {
  padding: 1rem 1.25rem;
  background-color: transparent !important;
  border-block-end: 1px solid var(--default-border);
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: .23rem;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
}

.card>hr {
  margin: 0;
}

.table-bordered>:not(caption)>* {
  border-width: var(--bs-border-width) 0;
  border-color: #e6e2e2;
}


tbody,
td,
tfoot,
th,
thead,
tr {
  line-height: 40px;
  border-style: solid;
  border-width: 0;
}

.bg-outline-primary {
  background-color: white;
  border: 1px solid #b94eed;
}

span.badge.bg-outline-primary {
  color: #b94eed;
  font-weight: 400;
}

.badge {
  padding: .25rem .45rem;
  font-weight: 400;
  border-radius: .25rem;
}

.bg-outline-warning {
  background-color: white;
  border: 1px solid #f39c12;
}

span.badge.bg-outline-warning {
  color: #f39c12;
  font-weight: 400;
}

.bg-outline-success {
  background-color: white;
  border: 1px solid#2ecc71;
}

span.badge.bg-outline-success {
  color: #2ecc71;
  font-weight: 400;
}

.bg-outline-secondary {
  background-color: white;
  border: 1px solid#2ecc71;
}

span.badge.bg-outline-secondary {
  color: #2ecc71;
  font-weight: 400;
}


span.avatar.avatar-xs.me-2.online.avatar-rounded {
  img {
    height: 20px;
    width: 20px;
    border-radius: 50px;
  }
}

span.badge.bg-light.text-dark {
  background-color: #2ecc711a;
  font-weight: 400;
}

span.badge.bg-success-transparent {
  background-color: #2ecc711a;
  color: darkseagreen;
  font-weight: 500;
}

/* col-4 */


.col-xl-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-inline-end: calc(var(--bs-gutter-x)* .5);
  padding-inline-start: calc(var(--bs-gutter-x)* .5);
  margin-block-start: var(--bs-gutter-y);
}

span.badge.bg-primary-transparent {
  background-color: rgb(236, 232, 232);
  color: #b94eed;
  font-weight: 400;
}

span.badge.bg-warning-transparent {
  color: #f39c12;
  background-color: #f39c121a;
  font-weight: 400;
}
